{% extends 'padre.html' %}


{% block tituloCambia %}
<title>About</title>
{% endblock tituloCambia %}

{% block cambioCenter %}


<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">WineApp</h1>
            <body>
                <h1>Sobre mí</h1>
                <p>¡Hola! Mi nombre es Rodrigo Quiñones</p>
                <p>Estoy estudiando programación en Python en CoderHouse, esta es mi entrega final.</p>
                
                <!-- Puedes agregar más información si lo deseas -->
            </body>
        </div>
    </div>
</header>
{% endblock cambioCenter %}
























<!-- En tu carpeta templates, crea un nuevo archivo about.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Sobre mí</h1>
    <p>¡Hola! Mi nombre es {{ nombre }}.</p>
    <p>Estoy estudiando programación en Python y tengo más de 15 años de experiencia en informática.</p>
    <!-- Puedes agregar más información si lo deseas -->
</body>
</html>




