{% extends 'padre.html' %}


{% block tituloCambia %}
<title>Inicio</title>
{% endblock tituloCambia %}

{% block cambioCenter %}


<style>

    header.custom-bg {
      background-color: #343d34;
    }
  </style>
  
  <header class="custom-bg py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <img src="/static/images/logo.png" alt="Logo WineApp" style="width: 250px; height: auto;">
              <h1 class="display-4 fw-bolder">WineApp</h1>

              {{mensaje}}

          
            </div>
      </div>
  </header>

{% endblock cambioCenter %}


