{% extends 'padre.html' %}

{% block tituloCambia %}
<title>Login</title>
{% endblock tituloCambia %}

{% block contenidoQueCambia %}
    
<style>

    header.custom-bg {
      background-color: #343d34;
    }
  </style>
  
  <header class="custom-bg py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <img src="/static/images/logo.png" alt="Logo WineApp" style="width: 250px; height: auto;">
              <h1 class="display-4 fw-bolder">WineApp</h1>
          </div>
      </div>
  </header>


    <form action="{% url 'Login' %}" method="post">{% csrf_token %}

            {{miFormulario.as_p}}

            <button type="submit"> Inciar sesión</button>

    </form>




{% endblock contenidoQueCambia %}

