{% extends 'padre.html' %}

{% block tituloCambia %}
<title>Inicio</title>
{% endblock tituloCambia %}

{% block contenidoQueCambia %}
<br>
<br>
<br>
<br>
<br>
<br>    
<br>
<br>
<br>
<br>
<br>
<h1>Gracias por la visita</h1>
<style>

    a {
      text-decoration: none;
      color: #007BFF;
      font-weight: bold;
      transition: color 0.5s;
    }
  
    a:hover {
      color: #0056b3; /* Cambia el color del texto cuando se pasa el ratón por encima */
    }
  </style>
  
  <a href="{% url 'inicio' %}">Inicio</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock contenidoQueCambia %}


  

